# =========================================================================
# ### ANGULAR FRONTEND REQUISITOS ###
# =========================================================================

 

# Ignorar las dependencias locales de Node (¡Crucial para el grupo!)
**/frontend/node_modules/
node_modules/

 

# Ignorar la caché de compilación de Angular 21
**/frontend/.angular/
.angular/

 

# Ignorar carpetas de producción y compilación final
**/frontend/dist/
**/frontend/tmp/
**/frontend/out-tsc/
dist/

 

# Archivos de registro de errores de npm
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

 

# =========================================================================
# ### BASE DE DATOS EN MEMORIA (H2) ###
# =========================================================================
# Por si acaso la base de datos H2 genera archivos temporales en disco
**/backend/*.mv.db
**/backend/*.trace.db
*.mv.db
*.trace.db

